body{
  letter-spacing: -1px;
  color: #2d2d2d;
  font-family: 'Nanum Gothic', sans-serif;
}
section{
  margin-top: 80px;
  text-align: center;

}
/*transform: skew(-40deg);*/

section h2{
  font-size: 34px; font-weight: bold;
}
nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  display: block;
  background-color: #1990ff;
}
.nav_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:1320px;
  margin: 0 auto;
}
.nav_item{
  position: relative;
  height: 60px;
  /*border: 1px solid #3d3;*/
}
.nav_item_skew{
  position: absolute; top: 0; left: 0;
  width: 100%;height: 60px;
  transform: skew(-22deg);
  cursor: pointer;
  background-color: #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}
.nav_item_text{
  width: 100%; height: 100%; line-height: 60px;
  color: #2d2d2d;
  font-size: 16px; font-weight: bold;
  position: absolute; top: 0; left: 36px;
  z-index: 33;
  cursor: pointer;
}
.nav_item.active .nav_item_text{
  color: #1990ff;
  display: inline;
  background-color: #d3d;
}
.nav_item:not(:last-child) .nav_item_text .bar{
  position: absolute; top: 5px; right: 34px;
  transform: rotate(22deg);
  display: inline-block;
  width: 1px; height: 50px;
  background-color: #e8e8e8;
}
.nav_item_textw{
  color: #fff;
  padding: 0 36px;
  font-size: 16px;
  height: 100%;
}


header{
  padding-top: 150px;
  text-align: center;
}
.header_title{
}
.header_title h1{
  font-weight: normal;
  font-size: 20px;
}
.header_title h1 > .h1_logo{
  display: block;
  margin: 18px auto 0 auto;
  width: 226px; height: 112px;
  background: url(../img/logo_text_blue.png) no-repeat;
  background-size: contain;
}



section.section_slider{
  color: #fff;
}
.section_slider h2{
  text-align: center;
}
.section_slider{
}
.slider_wrp{
  position: relative;
  background-color: #ddd;

}
.slider_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.slider_item{
  width: 33.3%;
  text-align: center;
  border: 1px solid #d3d;
  position: relative;
}
.slider_item_num{
  width: 94%; margin: 0 auto;
  padding: 20px 0 10px 0;
  border-bottom: 2px solid #fff;
  font-size: 40px;
}
.slider_item_h{
  font-size: 34px; font-weight: bold;
  margin: 20px 0;
}
.slider_item_p{
  font-size: 16px;
}
.slider_item_img{
  position: absolute; bottom: 0; width: 100%;height: 65%;
  background: url(../img/sliderimg_1.png) no-repeat center;
  border: 1px solid #000;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider_wrp .arrowbox{
  display: inline-block;
  position: absolute; top: 0;  left: 0;
  border: 5px solid #3d3;
}
.slider_wrp .arrowbox > span{
}



section.section_what{
}
.section_what{

}
.what_main{
  font-size: 68px;
}


section.section_have4{

}
.section_have4{

}


section .section_howto{

}
.section_howto{

}


section.section_video{

}
.section_video{
  position: relative;
  width: 100%; height: 100%;
  background: url(../img/videobackground.jpg) no-repeat;
  z-index: 1;
  text-align: center;
}
.section_video::before{
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
  z-index:-1;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
}
.video_dark{
  position: absolute;
  z-index: -1  ;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.67);
  height: 100%; width: 100%;
}
.video_btn_ul li{
  border: 1px solid #fff;
  display: inline-block;
}
.video_btn_ul li a{color: #fff;}
section .section_weare{

}
.section_weare{

}


footer{

}
