
/*transition: all 0.3s ease-in-out;*/
.what_dot_item,
.what_p_item,
.have4_content_close,
.nav_item_skew,
.nav_item_text
{transition: all 200ms ease-in-out;}

/*transition: all 0.2s ease;*/
.have4_item
{transition: all 200ms ease-out;}

/*cursor: pointer;*/
.nav_item_skew,
.nav_item_text,
.what_dot_item,
.have4_item,
.have4_content_close
{cursor: pointer;}

body{
  letter-spacing: -1px;
  color: #2d2d2d;
  font-family: 'Nanum Gothic', sans-serif;
}
section{
  /*margin-top: 100px;*/
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

section h2{
  font-size: 40px; font-weight: bold;
  margin-bottom: 100px;
}
section h2::before{
  content: '';
  display: block;
  margin: 0 auto;
  width: 30px; height: 4px;
  background-color: #1990ff;
  margin-bottom: 38px;
  border-radius: 2px;
}
.section_have4 h2::before,
.section_howto h2:before{
  background-color: #fff;
}
nav{
  position: fixed;
  z-index: 999;
  width: 100%;
  display: block;
  background-color: #1990ff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
}
.nav_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:1320px;
  margin: 0 auto;
}
.nav_item{
  position: relative;
  height: 60px;
}
.nav_item.active .nav_item_text{
  color: #1990ff;
}
.nav_item:hover .nav_item_text{
  color: #aaa;
}
.nav_item_skew{
  position: absolute; top: 0; left: 0;
  width: 100%;height: 60px;
  transform: skew(-22deg);
  background-color: #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

.nav_item_text{
  width: 100%; height: 100%; line-height: 60px;
  color: #2d2d2d;
  font-size: 16px; font-weight: bold;
  position: absolute; top: 0; left: 0;
  z-index: 33;
  text-indent: 36px;
}
.nav_item.active .nav_item_text{
  color: #1990ff;
}
.nav_item:not(:last-child) .nav_item_text .bar{
  position: absolute; top: 5px; right: -2px;
  transform: rotate(22deg);
  display: inline-block;
  width: 2px; height: 50px;
  background-color: #eeeaea;
}
.nav_item_textw{
  padding: 0 36px;
  font-size: 16px;
  height: 100%;
}
header{
  padding-top: 150px;
  text-align: center;
}
.header_title{
}
.header_title h1{
  font-weight: normal;
  font-size: 20px;
}
.header_title h1 > .h1_logo{
  display: block;
  margin: 18px auto 0 auto;
  width: 226px; height: 112px;
  background: url(../img/logo_text_blue.png) no-repeat;
  background-size: contain;
}


section.section_slider{
  color: #fff;
  padding-bottom: 0;
  overflow: hidden;
}
.section_slider h2{color: #333;}
.section_slider{}
.slider_wrp{position: relative;}
.slider_ul{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
}
.slider_item{
  width: 33.33%;
  position: relative;
  background-color: #1990ff;
}
.slider_item_num{
  width: 94%; margin: 0 auto;
  padding: 10px 0 5px 0;
  border-bottom: 2px solid #fff;
  font-size: 40px;
}
.slider_item_h{
  font-size: 34px; font-weight: bold;
  margin: 10px 0;
}
.slider_item_p{font-size: 16px;}
.slider_item_img{
  position: absolute; bottom: 0; width: 100%;height: 65%;
}
.slider_item:nth-child(1) > .slider_item_img{
  background: url(../img/sliderimg_1.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider_item:nth-child(2) > .slider_item_img{
  background: url(../img/sliderimg_2.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider_item:nth-child(3) > .slider_item_img{
  background: url(../img/sliderimg_3.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.slider_dark_ul{
  height: 100%;
  position: absolute;  top: 0; right: 0;
  z-index: 3;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.slider_dark_item{
  opacity: 0.6;
}
.slider_dark_item:not(:nth-child(2)){
  background-color: #000;
}
.slider_dark_item:nth-child(2){
}

.slider_sensor_ul{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
  z-index: 4;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.slider_sensor_item{
  width: 33.33%; height: 100%;
}




section.section_what{
  position: relative;
  padding-bottom: 115px;
}
.section_what{

}
.what_main{
  font-size: 68px;
  display: inline-block;
  position: relative;
}
.what_logo{
  display: inline-block;
  position: relative; top: 16px; left: 20px;
  width: 164px; height: 78px;
  background: url(../img/logo_text_blue.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.what_justtxt{font-weight: lighter;}
.what_bracketbox{
  display: inline-block;
  position: relative; top: 14px;
  margin: 0 30px;
}
.what_bracket{
  display: inline-block;
  position: absolute;
  width: 12px;height: 158px;
  background-color: #e1e1e1;
  bottom: -40px;
}
.what_bracket.b1{left: 0;}
.what_bracket.b2{bottom: -40px;right: 0;}
.what_bracket_rel{
  display: inline-block;
  width: 100%; height: 100%;
  position: relative;
}
.what_bracket_rel::before,
.what_bracket_rel::after{
  content: '';
  position: absolute; width: 36px; height: 12px;
  background-color: #e1e1e1;
  display: inline-block;
}
.what_bracket.b1 > .what_bracket_rel::before{top: 0; left: 0;}
.what_bracket.b1 > .what_bracket_rel::after{bottom: 0; left: 0;}
.what_bracket.b2 > .what_bracket_rel::before{top: 0; right: 0;}
.what_bracket.b2 > .what_bracket_rel::after{bottom: 0; right: 0;}
.what_content{
  position: relative;
  /*width: 600px;*/
  width: 40px;
  height: 80px;

  letter-spacing: -5px;
  font-weight: bold;
  overflow: hidden;
  color: #1990ff;
  white-space:nowrap;
}
.what_content_ul{
  width: 100%;
  position: absolute; top: 0; left: 0;
}
.what_item{height: 100%;}
.what_p{
  margin-top: 130px;
  font-size: 25px;
  line-height: 1.6em;
}
.what_p_ul{
  position: relative;
  height: 100px;
}
.what_p_item{
  width: 100%; max-width: 1160px;
  position: absolute;
  margin-left: calc(50% - 580px);
  opacity: 0;
  letter-spacing: -2px;
  /*display: none;*/
}
.what_p_item.active{opacity: 1;}
.what_dot_ul{
  width: 20px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 110px); right:7%;
}
.what_dot_item{
  width: 20px; height: 20px;
  border-radius: 500px;
  background-color: #8f8f8f;
  margin: 30px 0;
  box-sizing: border-box;
  border: 0px solid #fff;
}
.what_dot_item:hover{
  border: 3px solid rgba(255, 255, 255, 0.37);
  opacity: 0.7;
}
.what_dot_item.active{background-color: #1990ff;}


section.section_have4{
  padding: 100px 0;
  background-color: #1990ff; color: #fff;
  width: 100%; height: 100%;
}
.have4_h2_p{
  font-size: 25px;
  line-height: 1.6em;
}
.have4_ul{
  margin: 0 auto;
  margin-top: 142px;
  box-sizing: border-box;
  position: relative;
}
.have4_ul > ul{
  width: auto;
  display: inline-block;
  position: relative;
}
.have4_item{
  position: relative;
  width: 302px;
  /*width: 100%;*/
  margin: 0 10px; padding: 30px;
  display: inline-block;
  border: 10px solid #1990ff;
  background-color: #1990ff;
  border-radius: 36px 36px 0 0;
}
/*.have4_item:nth-child(1){
  border-color: #d3d;
}
.have4_item:nth-child(2){
  border-color: #3d3;
}
.have4_item:nth-child(3){
  border-color: #ff1;
}
.have4_item:nth-child(4){
  border-color: #11d;
}*/
.have4_item:hover{
  border: 10px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}
.have4_ul ul:hover .have4_item:not(:hover){
  /*filter: blur(2px);*/
}
.have4_item.active{
  border: 10px solid rgba(25, 144, 255, 0.3);
  filter:none;
  background-color: #fff;
  color: #1990ff;
}

.have4_item p{
  margin-top: 63px;
  font-weight: bold;
  font-size: 30px;
}
.have4_item_icon{
  box-sizing: border-box;
  border-radius: 2000px;
  width: 302px; height: 302px;
  display: inline-block;
  background-size: 750px;
  background-color: #fff;
}
.have4_item_icon::after{
  content: '';
  margin-top: 58px;
  width: 186px; height: 186px;
  display: inline-block;
  background: url(../img/icons.png) no-repeat;
}
.have4_item:nth-child(2) > .have4_item_icon::after{background-position: -188px 0;}
.have4_item:nth-child(3) > .have4_item_icon::after{background-position: -376px 0;}
.have4_item:nth-child(4) > .have4_item_icon::after{background-position: -564px 0;}

.have4_content{
  position: absolute; top: 0; left: 500px;
  width: 0;
  overflow: hidden;
  height: 100%;
  text-align: left;
  font-size: 30px; font-weight: normal;
  line-height: 1.6em;
  letter-spacing: -2px;
}
.have4_content_ul{
  position: relative;
  width: 100%; height: 100%;
}
.have4_content_item{
  position: absolute;
  top: 0; left: 0;
  width: 1100px;
}
.have4_content_item.active{
}
.have4_content_close{
  position: absolute; top: 0px; right: 20px;
  width: 120px; height: 120px;
  display: inline-block;
  background: url(../img/close_button.png) no-repeat;
  -webkit-background-size: 80px 80px;
  background-size: 80px 80px;
  background-position: center;
  /*border: 1px solid #000;*/
}
.have4_content_close:hover{
  transform: rotate(90deg);
}

section.section_howto{
  background-color: #444242;
  color: #fff;
}
section.section_video{
  position: relative;
  width: 100%; height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background: url(../img/videobackground.jpg) no-repeat;
  z-index: 1;
}
.section_video::before{
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
  z-index:-1;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
}
.section_video video{display: block; margin: 0 auto;}
.video_dark{
  position: absolute;
  z-index: -1  ;
  right: 0; bottom: 0; top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.83);
  height: 100%; width: 100%;
}
.video_btn{display: inline-block;}
.video_btn_ul{width: 100%; margin-top: 74px;}
.video_btn_ul li{
  border-right: 2px solid #fff;
  float: left; padding: 0 218px;
  margin-bottom: 92px;
}
.video_btn_ul li:last-of-type{border: none;}
.video_btn_ul li a{color: #fff; font-size: 40pt;}
section .section_footer{

}
.section_footer{
  width: 100%;
  margin-top: 0;
  background-color: #000;
}
.section_footer_list{width: 80%; margin: 0 auto;}
.footer_list_logo{float: left; margin-right: 66px;}
.footer_list_logo li{color: #fff; font-size: 50pt;}
.footer_list_text{float: left;}
.footer_list_text li{
  font-size: 25px; color: #676767;
}
.section_footer_list_img{
  width: 800px; display: inline-block;
}
.section_footer_list_img li{float: right;}
.section_footer_list_img li span{
  width: 236px; height: 236px;
  border: 1px solid #fff; display: inline-block;
}
.section_footer_list_img li span:first-of-type{
  background: url(../img/)
}
.section_footer_list_img li dl{color: #fff; font-size: 15pt;}
.section_footer_list_img li dt{font-size: 13pt; color: #676767;}
footer{

}
